*{
    margin: 0;
    padding: 0;
	background-color: #222222;
}

.barhaut{
	background-color: #050117;
	border: 2px solid;
	border-color: #050117 #050117 #dddddd;


}
.navbar{
	background-color: #050117;
}
.form-inline{
	background-color: #050117;
}

.lessites{
	background-color: #222222;
	height: 100%;
	width: 100%;

}


.para{
    color: #ffffff;
    background-color: #222222;
	padding: 3em;
	margin-left: 10%;
	margin-right: 40%;

}


.providdiv{
    position: relative;
    background-color: #050117;

}
.provid{
    background-color: #050117;
    border: none;

}

.search{
    position: relative;
    background-color: #050117;

}

.goback{
    position: absolute;
    background-color: #050117;
	margin: -4em;
    display: flex;
    justify-content: end;
    width: 100%;

}
.gobacklogo{
    background-color: #050117;
    border: none;
}
.formgoback{
	background-color: #050117;
}

/* .top-right-login {
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 1000;
}

.top-right-login .btn-dark {
    background-color: #09032a;
    border-color: #ccc;
    padding: 8px 16px;
    font-weight: bold;
} */

.top-right-buttons {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #050117;
    gap: 25px; 
    padding: 8px;
    border-radius: 8px;
}

.top-right-buttons .btn-dark {
    background-color: #09032a;
    border-color: #ccc;
    padding: 8px 16px;
    font-weight: bold;
    width: 120px;
    text-align: center;
}

.custom-dropdown {
    background-color: #09032a;
    border: 1px solid #ccc;
    min-width: 180px;
    z-index: 1050;
}

.custom-dropdown .dropdown-item {
    color: #fff;
    padding: 10px 16px;
    font-size: 0.95rem;
}

.custom-dropdown .dropdown-item:hover {
    background-color: #1a1439;
    color: #66b2ff;
}



.sbar{
	background-color: #050117;

}

input[type=search] {
    border: solid 1px #ccc;
    padding: 12px 350px 12px 20px;
    width: 55px;

}

.create-article-btn {
    position: absolute;
    top: 250px;
    right: 40px;
    z-index: 10;
}

.create-article-btn .btn-primary {
    background-color: #343a40;
    border-color: #ccc;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 6px;
}

.create-article-btn .btn-primary:hover {
    background-color: #495057;
    color: #fff;
}

