*{
    margin: 0;
    padding: 0;
    background-color: #050117;
    text-align: center;
}


.titre{
    position: relative;
	padding: 7%;
	background-color: #050117;
	top: 15%;
	display: flex;
	justify-content: center;
	width: 100%;



}


.top-right-login {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.top-right-login .btn-dark {
    background-color: #09032a;
    border-color: #ccc;
    padding: 8px 16px;
    font-weight: bold;
}


.providdiv{
	position: relative;
	background-color: #050117;

}
.provid{
	background-color: #050117;
    border: none;

}

.stabilize{
    position: relative;
    background-color: #050117;

}
.callage{
    background-color: #050117;
    border: none;

}


.search{
    position: relative;
    background-color: #050117;
	
	display: flex;
    justify-content: center;
    width: 100%;

}

input[type=search] {
    border: solid 1px #ccc;
    padding: 12px 350px 12px 20px;
    width: 55px;
    text-align: left;
    box-sizing: border-box;
	
}



